{% load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>User Login</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'todo/main.css' %}">

    </head>
	<body>
    <div style="margin-bottom:10px;text-align:center;color:black;font-size: 20px;">   
        Hello {{username}}! You have got a task to complete.</div>
                    <div style="background-color:cadetblue;font-family:'Roboto',Arial,sans-serif;border-radius:10px;max-width:600px;font-size:18px;overflow:hidden;margin:0px auto" align="center">Task Email Alert</div>
                        <div style="background-color: #acd8e6;border-radius:10px;max-width:1200px;text-align: center;font-size: 16px;" align="center">    
                            <ul style="list-style-type:none;">
								<b>Task Title</b>
								<li>{{task_title}}</li>
								<br>
								{%if task_text%}
								<b>Task Description</b>
								<li>{{task_text}}</li>
								<br>
								{%endif%}
								<b>Task Priority</b>
								<li>{{task_priority}}</li>
								<br>
								<b>Task Alert Date & Time</b>
								<li>{{date_due}}</li>
							</ul>
                        </div>
					<div style="background-color: #acd8e6;text-align:center;border-radius:10px;font-size: 18px;">
                        To Manage Your Todo List,</div>
                        <br><div style="text-align:center;background-color:palevioletred;border-radius:10px;font-size: 20px;">
                                <a href="{{todo_list}}"  target="_blank">
                                    Go To Todo List
                                </a>
                            </div>
</body>
</html>
        