{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Calibri" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
				<div class="row pad">
						<div class="col-lg-12 text-center">
							<a href="{%url 'list' %}"><h3><strong>Go To Todo List</strong></h3></a>
						</div>
				</div>
			<br>
			<br> 	
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2><b>ToDo App</b></h2>
					<h2>Welcome {{user.username}}!</h2>
					<form action="{% url 'add'%}" method="POST" role="form">
						{% csrf_token %}
						    <br>
							{{ form.title }}
							<br>
							{{form.text }}
							<br>
							Do you want to Email/Sms alert? [True/False]&emsp;{{form.email_alert}}
							<br>
							<br>
							Mention Date/Time for task: <br>{{form.date_due}}
							<br>	
							<br>
							Set the priority of task:<br>{{form.priority}}
							<br>
							<br>
							  <span class="input-group-btn">
								<a href = "{%url 'list'%}"><button type="submit" class="btn btn-default" id="add-btn">ADD</button></a>
							  </span>	
					</form>
		</div>
		<footer>

			<div class="row pad">
					<div class="col-lg-12 text-center">
						<a href="{%url 'logout' %}"><h3><strong>Sign out</h3></strong></a>
					</div>
				</div>
		</footer>
</body>
</html>