{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo List</title>

		<link href="https://fonts.googleapis.com/css?family=Calibri" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
    </head>
    <body>
			<div class="container-fluid" id="wrapper">
					<div class="row pad">
							<div class="col-lg-12 text-center">
								<a href="{%url 'list' %}"><h3><strong>Go To Todo List</strong></h3></a>
							</div>
					</div>
	
					<div class="row">
						<div class="col-lg-4 col-lg-offset-4" id="content">
							<h2><b>Task Details</b></h2>
							<h2>Hi {{user.username}}!</h2>

							<ul class="list-group t20">
								<b>Task Title</b>
								<li class="list-group-item">{{title}}</li>
								<br>
								{%if text%}
								<b>Task Text</b>
								<li class="list-group-item">{{text}}</li>
								<br>
								{%endif%}
								<b>Task Priority</b>
								<li class="list-group-item">{{priority}}</li>
								<br>
								<b>Task Alert Date & Time</b>
								<li class="list-group-item">{{date}}</li>
							</ul>

						</div>
		            </div>
		
			</div>
			<footer>
					
					<br>
			        <div class="row pad">
					<div class="col-lg-12 text-center">
						<a href="{%url 'logout' %}"><h3><strong>Sign out</h3></strong></a>
					</div>
				</div>
			</footer>

</body>
</html>