{%block content%}		
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo List</title>

		<link href="https://fonts.googleapis.com/css?family=Calibri" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>
	<body>
{%endblock%}

		<div class="container-fluid" id="wrapper">
	
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2><b>Your ToDo List</b></h2>
					<h2>Hi {{user.username}}!</h2>

                    <ul class="list-group t20">
						{% for todo in todo_list %}
						{%if todo.email_alert%}
						<li class="list-group-item"><a href="{%url 'delete' todo.id%}"><img src="https://thumbs.dreamstime.com/b/trashcan-icon-dustbin-symbol-flat-vector-illustration-button-78993322.jpg" style="height:25px;width: 23px;"></a>&emsp;<a href="{%url 'info' todo.id%}" style="color:black;">{{ todo.title }}</a>&emsp;<p style="color: maroon;display: inline;">High alert!</p>&emsp;<p style="color:#64e3c7;display:inline;">{{todo.priority}}</p></li>
						{%else%}
						<li class="list-group-item"><a href="{%url 'delete' todo.id%}"><img src="https://thumbs.dreamstime.com/b/trashcan-icon-dustbin-symbol-flat-vector-illustration-button-78993322.jpg" style="height:25px;width: 23px;"></a>&emsp;<a href="{%url 'info' todo.id%}" style="color:black;">{{ todo.title }}</a>&emsp;<p style="color:#64e3c7;display:inline;">{{todo.priority}}</p></li>
						{%endif%}
						{% endfor %}
					</ul>
					
						<a href="{%url 'index'%}"><button type="submit" class="btn btn-default" id="add-btn">+ Add Task</button></a>
						<a href="{%url 'all'%}"><button type="submit" class="btn btn-default" id="add-btn">Delete All</button></a>
					  	


		</div>
		<footer>
			
			<br>
			<div class="row pad">
					<div class="col-lg-12 text-center">
						<a href="{%url 'logout' %}"><h3><strong>Sign out</h3></strong></a>
					</div>
				</div>
		</footer>
</body>
</html>