{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>User Register</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'todo/main.css' %}">

    </head>
	<body>
    </div>
		<div class="container-fluid" id="wrapper">	
			<div class="row">
                
				<div class="col-lg-4 col-lg-offset-4" id="content">
                    {%if messages%}
                      {%for message in messages%}
                        <div class="alert alert-{{ message.tags }}">
                          {{message}}
                        </div>
                      {%endfor%}
                    {%endif%}        
                <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
    
                <h2>Join Today</h2>        
                {{form|crispy}}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
                </form>
        </div>    
        </div>    
        <footer>
        <div class="row pad">
            <div class="col-lg-12 text-center">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
      </footer>
</body>
</html>